USE [BD_BED_APP_SERVER]
GO
/****** Object:  Table [dbo].[TB_RESERVA]    Script Date: 9/23/2019 8:49:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_RESERVA](
	[ID_PROVEEDOR] [int] NOT NULL,
	[ID_SERVICIO] [varchar](6) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[ID_ORDEN] [int] NOT NULL,
	[FECHA] [varchar](10) NOT NULL,
	[DESDE] [varchar](5) NULL,
	[HASTA] [varchar](5) NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC,
	[ID_SERVICIO] ASC,
	[ID_USUARIO] ASC,
	[ID_ORDEN] ASC,
	[FECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_ROL_USUARIO]    Script Date: 9/23/2019 8:49:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_ROL_USUARIO](
	[ID_ROL] [int] IDENTITY(1,1) NOT NULL,
	[DESC_ROL] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_SERVICIO]    Script Date: 9/23/2019 8:49:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_SERVICIO](
	[ID_SERVICIO] [varchar](6) NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
	[DESC_SERVICIO] [varchar](200) NOT NULL,
	[CANT_SERVICIO] [int] NOT NULL,
	[PRECIO_SERVICIO] [varchar](6) NULL,
	[ESTADO_SERVICIO] [int] NULL,
	[FEC_REGISTRO] [varchar](10) NULL,
	[INICIO_DISPONIBLE] [varchar](5) NULL,
	[FIN_DISPONIBLE] [varchar](5) NULL,
	[MIN_INTERVALO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SERVICIO] ASC,
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TARJETAS]    Script Date: 9/23/2019 8:49:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TARJETAS](
	[ID_USUARIO] [int] NOT NULL,
	[ID_SECUENCIA] [int] NOT NULL,
	[AFILIADO] [varchar](10) NULL,
	[NOMBRE_TITULAR] [varchar](500) NULL,
	[NUMERO] [varchar](20) NULL,
	[VENCIMIENTO] [varchar](5) NULL,
	[CSV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC,
	[ID_SECUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_USUARIO]    Script Date: 9/23/2019 8:49:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USUARIO](
	[ID_USUARIO] [int] NOT NULL,
	[ID_ROL] [int] NOT NULL,
	[NOM_USUARIO] [varchar](100) NOT NULL,
	[APE_USUARIO] [varchar](200) NOT NULL,
	[LOGIN_USUARIO] [varchar](50) NOT NULL,
	[PASS_USUARIO] [varchar](10) NOT NULL,
	[EDAD_USUARIO] [int] NULL,
	[DIR_USUARIO] [varchar](200) NULL,
	[DOC_USUARIO] [varchar](8) NULL,
	[EMP_USUARIO] [varchar](100) NULL,
	[FEC_NAC_USUARIO] [varchar](10) NULL,
	[FEC_REGISTRO] [varchar](10) NULL,
	[ESTADO_USU] [int] NULL,
	[LATITUD] [varchar](100) NULL,
	[LONGITUD] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TB_RESERVA] ([ID_PROVEEDOR], [ID_SERVICIO], [ID_USUARIO], [ID_ORDEN], [FECHA], [DESDE], [HASTA], [ESTADO]) VALUES (3, N'AA-001', 7, 2, N'23/09/2019', N'10:00', N'11:00', 1)
INSERT [dbo].[TB_RESERVA] ([ID_PROVEEDOR], [ID_SERVICIO], [ID_USUARIO], [ID_ORDEN], [FECHA], [DESDE], [HASTA], [ESTADO]) VALUES (3, N'AA-001', 7, 3, N'23/09/2019', N'11:00', N'12:00', 3)
INSERT [dbo].[TB_RESERVA] ([ID_PROVEEDOR], [ID_SERVICIO], [ID_USUARIO], [ID_ORDEN], [FECHA], [DESDE], [HASTA], [ESTADO]) VALUES (3, N'AA-001', 9, 1, N'23/09/2019', N'09:00', N'10:00', 3)
SET IDENTITY_INSERT [dbo].[TB_ROL_USUARIO] ON 

INSERT [dbo].[TB_ROL_USUARIO] ([ID_ROL], [DESC_ROL]) VALUES (1, N'USUARIO')
INSERT [dbo].[TB_ROL_USUARIO] ([ID_ROL], [DESC_ROL]) VALUES (2, N'PROVEEDOR')
SET IDENTITY_INSERT [dbo].[TB_ROL_USUARIO] OFF
INSERT [dbo].[TB_SERVICIO] ([ID_SERVICIO], [ID_USUARIO], [DESC_SERVICIO], [CANT_SERVICIO], [PRECIO_SERVICIO], [ESTADO_SERVICIO], [FEC_REGISTRO], [INICIO_DISPONIBLE], [FIN_DISPONIBLE], [MIN_INTERVALO]) VALUES (N'AA-001', 3, N'PS4 PLUS 320GB', 1, N'5.00', 0, N'23/09/2019', N'09:00', N'10:00', 60)
INSERT [dbo].[TB_SERVICIO] ([ID_SERVICIO], [ID_USUARIO], [DESC_SERVICIO], [CANT_SERVICIO], [PRECIO_SERVICIO], [ESTADO_SERVICIO], [FEC_REGISTRO], [INICIO_DISPONIBLE], [FIN_DISPONIBLE], [MIN_INTERVALO]) VALUES (N'AA-002', 3, N'BILLAR', 1, N'4.00', 1, N'23/09/2019', N'09:00', N'13:00', 60)
INSERT [dbo].[TB_USUARIO] ([ID_USUARIO], [ID_ROL], [NOM_USUARIO], [APE_USUARIO], [LOGIN_USUARIO], [PASS_USUARIO], [EDAD_USUARIO], [DIR_USUARIO], [DOC_USUARIO], [EMP_USUARIO], [FEC_NAC_USUARIO], [FEC_REGISTRO], [ESTADO_USU], [LATITUD], [LONGITUD]) VALUES (1, 2, N'CHARLY', N'ESTRADA', N'jair1490@hotmail.com', N'1490', 24, N'AV. LOS PROCERES 123 CL 2', N'12345678', N'MALVADOS Y ASOCIADOS S.A.C.', N'01/02/1995', N'09/09/2019', 1, N'-12.0422462', N'-77.0270466')
INSERT [dbo].[TB_USUARIO] ([ID_USUARIO], [ID_ROL], [NOM_USUARIO], [APE_USUARIO], [LOGIN_USUARIO], [PASS_USUARIO], [EDAD_USUARIO], [DIR_USUARIO], [DOC_USUARIO], [EMP_USUARIO], [FEC_NAC_USUARIO], [FEC_REGISTRO], [ESTADO_USU], [LATITUD], [LONGITUD]) VALUES (2, 2, N'BRYAN JASON', N'BOLAÑOS QUISPE', N'u201818900@upc.edu.pe', N'123123', 24, N'JR. FEDERICO UGARTE 230 PAMPLONA BAJA', N'70083953', N'BUSSINESS ANALYTICS S.A.C.', N'19/06/1995', N'09/09/2019', 1, N'-12.0444153', N'-77.0287553')
INSERT [dbo].[TB_USUARIO] ([ID_USUARIO], [ID_ROL], [NOM_USUARIO], [APE_USUARIO], [LOGIN_USUARIO], [PASS_USUARIO], [EDAD_USUARIO], [DIR_USUARIO], [DOC_USUARIO], [EMP_USUARIO], [FEC_NAC_USUARIO], [FEC_REGISTRO], [ESTADO_USU], [LATITUD], [LONGITUD]) VALUES (3, 2, N'ALEJANDRO', N'APESTEGUI', N'alejandro.apestegui@gmail.com', N'123123', 24, N'AV. CAMINOS DLE INCA 123', N'12345678', N'MI EMPRESA S.A.C.', N'01/09/1995', N'09/09/2019', 1, N'-12.0467646', N'-77.0297023')
ALTER TABLE [dbo].[TB_RESERVA]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[TB_USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[TB_RESERVA]  WITH CHECK ADD FOREIGN KEY([ID_SERVICIO], [ID_PROVEEDOR])
REFERENCES [dbo].[TB_SERVICIO] ([ID_SERVICIO], [ID_USUARIO])
GO
ALTER TABLE [dbo].[TB_SERVICIO]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[TB_USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[TB_TARJETAS]  WITH CHECK ADD FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[TB_USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[TB_USUARIO]  WITH CHECK ADD FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[TB_ROL_USUARIO] ([ID_ROL])
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_SERVICIO]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    
CREATE PROC [dbo].[SP_ACTUALIZAR_SERVICIO]    
@ID_SERVICIO VARCHAR(6),    
@ID_USUARIO INT,    
@DESC_SERVICIO VARCHAR(200),    
@CANT_SERVICIO INT,    
@PRECIO_SERVICIO VARCHAR(6),    
@ESTADO_SERVICIO INT,    
@FEC_REGISTRO VARCHAR(10),    
@INICIO_DISPONIBLE VARCHAR(5),    
@FIN_DISPONIBLE VARCHAR(5),    
@MIN_INTERVALO INT    
AS    
UPDATE TB_SERVICIO    
SET ID_USUARIO=@ID_USUARIO,    
    DESC_SERVICIO=@DESC_SERVICIO,    
 CANT_SERVICIO=@CANT_SERVICIO,    
 PRECIO_SERVICIO=@PRECIO_SERVICIO,    
 ESTADO_SERVICIO=@ESTADO_SERVICIO,    
 FEC_REGISTRO=@FEC_REGISTRO,    
 INICIO_DISPONIBLE = @INICIO_DISPONIBLE,    
 FIN_DISPONIBLE = @FIN_DISPONIBLE,    
 MIN_INTERVALO = @MIN_INTERVALO    
WHERE ID_SERVICIO=@ID_SERVICIO  and ID_USUARIO = @ID_USUARIO
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_TARJETA]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_TARJETA]
@USUARIO INT,
@SECUENCIA INT,
@AFILIADO VARCHAR(100),
@TITULAR VARCHAR(100),
@NUMERO VARCHAR(100),
@VENCIMIENTO VARCHAR(100),
@CSV VARCHAR(100)
AS
BEGIN
	UPDATE TB_TARJETAS
	SET 
	AFILIADO = @AFILIADO, 
	NOMBRE_TITULAR = @TITULAR, 
	NUMERO = @NUMERO, 
	VENCIMIENTO = @VENCIMIENTO, 
	CSV = @CSV
	WHERE  ID_USUARIO = @USUARIO AND ID_SECUENCIA = @SECUENCIA
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_USUARIO]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_USUARIO]  
@ID VARCHAR(100),  
@ROL VARCHAR(100),  
@NOM VARCHAR(100),  
@APE VARCHAR(100),  
@LOGIN VARCHAR(100),  
@PASS VARCHAR(100),  
@EDAD VARCHAR(100),  
@DIR VARCHAR(100),  
@DOC VARCHAR(100),  
@EMP VARCHAR(100),  
@NAC VARCHAR(100),  
@REG VARCHAR(100),  
@EST VARCHAR(100) ,
@LAT VARCHAR(100),  
@LON VARCHAR(100)  
AS  
BEGIN  
 update tb_usuario  
 set   
 ID_ROL = cast(@ROL as int),  
 NOM_USUARIO = @NOM,  
 APE_USUARIO = @APE,  
 LOGIN_USUARIO = @LOGIN,  
 PASS_USUARIO = @PASS,  
 EDAD_USUARIO = cast(@EDAD as int),  
 DIR_USUARIO = @DIR,  
 DOC_USUARIO = @DOC,  
 EMP_USUARIO = @EMP,  
 FEC_NAC_USUARIO = @NAC,  
 FEC_REGISTRO = @REG,  
 ESTADO_USU = CAST (@EST as int),
 LATITUD = @LAT,
 LONGITUD = @LON    
 where ID_USUARIO =  cast(@id as int)  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCAR_SERVICIO]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BUSCAR_SERVICIO]    
@proveedor int,  
@Nombre VARCHAR(200)  
AS    
SELECT * FROM TB_SERVICIO    
WHERE 
DESC_SERVICIO LIKE '%' + @Nombre + '%'  and (ID_USUARIO = @proveedor or -1 = @proveedor)
GO
/****** Object:  StoredProcedure [dbo].[SP_CAMBIAR_CONTRASEÑA_USUARIO]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CAMBIAR_CONTRASEÑA_USUARIO]        
@LOGIN_USUARIO  VARCHAR(100),    
@PASS_USUARIO VARCHAR(10)        
AS        
UPDATE TB_USUARIO        
SET PASS_USUARIO=@PASS_USUARIO, ESTADO_USU = 1        
WHERE LOGIN_USUARIO=@LOGIN_USUARIO 
GO
/****** Object:  StoredProcedure [dbo].[SP_CONFIRMAR_RESERVA]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CONFIRMAR_RESERVA] (@PROVEEDOR INT, @SERVICIO VARCHAR(6), @DIA VARCHAR(10), @USUARIO INT, @ID_ORDEN INT, @MODO varchar(1))      
AS      
BEGIN    
  
 DECLARE @CORREO_USUARIO VARCHAR(200) = (SELECT TOP 1 LOGIN_USUARIO FROM TB_USUARIO WHERE ID_USUARIO = @USUARIO)  
 DECLARE @DES_SERVICIO VARCHAR(200) = (SELECT TOP 1 DESC_SERVICIO FROM TB_SERVICIO WHERE ID_USUARIO = @PROVEEDOR AND ID_SERVICIO = @SERVICIO)  
 DECLARE @DIRECCION VARCHAR(300) = (SELECT TOP 1 DIR_USUARIO FROM TB_USUARIO WHERE ID_USUARIO = @PROVEEDOR)  
 DECLARE @TABLA_DATOS AS TABLE      
 (      
  HORA_ID INT,      
  HORA_INICIO DATETIME,      
  HORA_FIN DATETIME,      
  HORA_ESTADO INT      
 )      
       
 INSERT @TABLA_DATOS      
 EXEC SP_GENERAR_HORARIO @PROVEEDOR, @SERVICIO, @ID_ORDEN     
  
 DECLARE @RANGO VARCHAR(500)
 
 if @MODO = 'A'
 BEGIN
	SET @RANGO = (SELECT  CAST(convert(varchar, HORA_INICIO, 24) AS VARCHAR(5)) + ' a ' + CAST(convert(varchar, HORA_FIN, 24) AS VARCHAR(5)) + ' en ' + @DIRECCION FROM @TABLA_DATOS) 
	--APRUEBAS LA ACTUAL  
	UPDATE TB_RESERVA SET ESTADO = 1 WHERE ID_PROVEEDOR = @PROVEEDOR AND ID_SERVICIO = @SERVICIO AND ESTADO = 2 AND ID_USUARIO = @USUARIO AND FECHA = @DIA AND ID_ORDEN = @ID_ORDEN  
	--RECHAZAS EL RESTO  
	UPDATE TB_RESERVA SET ESTADO = 3 WHERE ID_PROVEEDOR = @PROVEEDOR AND ID_SERVICIO = @SERVICIO AND ESTADO = 2 AND ID_USUARIO <> @USUARIO AND FECHA = @DIA AND ID_ORDEN = @ID_ORDEN  
	SELECT 'EXITO;Se ha confirmado esta reserva;'+@CORREO_USUARIO+';'+@DES_SERVICIO+';'+@RANGO AS MENSAJE  
 END

 IF @MODO = 'R'
 BEGIN
	SET @RANGO = (SELECT  CAST(convert(varchar, HORA_INICIO, 24) AS VARCHAR(5)) + ' a ' + CAST(convert(varchar, HORA_FIN, 24) AS VARCHAR(5)) FROM @TABLA_DATOS) 
 	UPDATE TB_RESERVA SET ESTADO = 3 WHERE ID_PROVEEDOR = @PROVEEDOR AND ID_SERVICIO = @SERVICIO AND ESTADO = 2 AND ID_USUARIO = @USUARIO AND FECHA = @DIA AND ID_ORDEN = @ID_ORDEN  
	SELECT 'EXITO;Se ha rechazado esta reserva;'+@CORREO_USUARIO+';'+@DES_SERVICIO+';'+@RANGO AS MENSAJE  
 END
END  
  
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAR_SERVICIO]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_ELIMINAR_SERVICIO]
@ID_SERVICIO VARCHAR(6)
AS
DELETE FROM TB_SERVICIO
WHERE ID_SERVICIO=@ID_SERVICIO
GO
/****** Object:  StoredProcedure [dbo].[SP_GENERAR_HORARIO]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--GENERAR HORARIO    
CREATE PROCEDURE [dbo].[SP_GENERAR_HORARIO](@PROVEEDOR INT, @SERVICIO VARCHAR(6), @ORDEN INT)    
AS    
BEGIN    
    
DECLARE @INICIO_VARCHAR VARCHAR(5)    
DECLARE @FIN_VARCHAR VARCHAR(5)    
DECLARE @MIN_X_RANGO INT    
    
DECLARE @TABLA_HORARIOS AS TABLE    
(    
 ID INT IDENTITY(1,1),    
 INICIO DATETIME,    
 FIN DATETIME,    
 ESTADO INT    
)    
    
SELECT     
 @INICIO_VARCHAR = INICIO_DISPONIBLE,     
 @FIN_VARCHAR = FIN_DISPONIBLE,     
 @MIN_X_RANGO = MIN_INTERVALO FROM TB_SERVICIO WHERE ID_SERVICIO = @SERVICIO AND ID_USUARIO = @PROVEEDOR    
    
DECLARE @INICIO DATETIME = DATETIMEFROMPARTS(2019, 01, 01, SUBSTRING(@INICIO_VARCHAR, 0, 3), SUBSTRING(@INICIO_VARCHAR, 4, 2), 0, 0)    
DECLARE @FIN DATETIME =    DATETIMEFROMPARTS(2019, 01, 01, SUBSTRING(@FIN_VARCHAR, 0, 3), SUBSTRING(@FIN_VARCHAR, 4, 2), 0, 0)    
    
;WITH DateRange(DateData) AS     
(    
    SELECT @INICIO as Date    
    UNION ALL    
    SELECT DATEADD(MI,@MIN_X_RANGO,DateData)    
    FROM DateRange     
    WHERE DateData < @FIN    
)    
    
INSERT INTO @TABLA_HORARIOS(INICIO, ESTADO)    
SELECT     
*, 0    
FROM DateRange A    
OPTION (MAXRECURSION 0)    
    
UPDATE Y     
SET Y.FIN = (SELECT INICIO FROM @TABLA_HORARIOS X WHERE X.ID = Y.ID + 1)    
FROM @TABLA_HORARIOS  AS Y    
    
DELETE FROM @TABLA_HORARIOS WHERE FIN IS NULL OR FIN > @FIN  
    
SELECT * FROM @TABLA_HORARIOS WHERE ID = ISNULL(@ORDEN, ID)    
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GENERAR_HORARIO_DISPONIBLES]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--GENERAR HORARIO DISPONIBLE      
CREATE PROCEDURE [dbo].[SP_GENERAR_HORARIO_DISPONIBLES](@PROVEEDOR INT, @SERVICIO VARCHAR(6), @DIA VARCHAR(10), @USUARIO INT)      
AS      
BEGIN      
      
DECLARE @TABLA_HORARIOS AS TABLE      
(      
 ID INT,      
 INICIO DATETIME,      
 FIN DATETIME,      
 ESTADO INT      
)      
      
INSERT INTO @TABLA_HORARIOS      
EXEC SP_GENERAR_HORARIO @PROVEEDOR, @SERVICIO, NULL      
      
UPDATE Y      
SET Y.ESTADO = 1       
FROM @TABLA_HORARIOS AS Y      
WHERE Y.ID IN (SELECT X.ID_ORDEN FROM TB_RESERVA X WHERE X.ID_PROVEEDOR = @PROVEEDOR AND X.ID_SERVICIO = @SERVICIO AND X.FECHA = @DIA AND X.ESTADO = 1)  

UPDATE Y      
SET Y.ESTADO = 2       
FROM @TABLA_HORARIOS AS Y      
WHERE Y.ID IN (SELECT X.ID_ORDEN FROM TB_RESERVA X WHERE X.ID_PROVEEDOR = @PROVEEDOR AND X.ID_SERVICIO = @SERVICIO AND X.FECHA = @DIA AND X.ESTADO = 2 AND @USUARIO = ID_USUARIO)  
      
SELECT     
ID,     
convert(char(5), INICIO, 108) INICIO,     
convert(char(5), FIN, 108) FIN,     
ESTADO     
FROM @TABLA_HORARIOS      
      
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTAR_SERVICIO]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTAR_SERVICIO]    
@ID_USUARIO INT,    
@DESC_SERVICIO VARCHAR(200),    
@CANT_SERVICIO INT,    
@PRECIO_SERVICIO VARCHAR(6),    
@ESTADO_SERVICIO INT,    
@FEC_REGISTRO VARCHAR(10),
@INICIO VARCHAR(5),
@FIN VARCHAR(5),
@MIN INT    
AS    
BEGIN  
 DECLARE @ID_SERVICIO VARCHAR(6)  
 DECLARE @PREFIJO VARCHAR(3)  
  
 SET @PREFIJO = (SELECT SUBSTRING(NOM_USUARIO, 1, 1)+  SUBSTRING(APE_USUARIO, 1, 1) FROM TB_USUARIO WHERE ID_USUARIO = @ID_USUARIO)  
  
 SET @ID_SERVICIO =   
  (SELECT @PREFIJO + '-' + RIGHT(('000' + CAST((ISNULL(MAX(CAST(SUBSTRING(ID_SERVICIO, 4, 3) AS INT)), 0) + 1) AS VARCHAR)), 3) FROM TB_SERVICIO WHERE ID_USUARIO = @ID_USUARIO)  
  
 INSERT INTO TB_SERVICIO(ID_SERVICIO,ID_USUARIO,DESC_SERVICIO,CANT_SERVICIO,PRECIO_SERVICIO,ESTADO_SERVICIO,FEC_REGISTRO, INICIO_DISPONIBLE, FIN_DISPONIBLE, MIN_INTERVALO)    
 VALUES (@ID_SERVICIO,@ID_USUARIO,@DESC_SERVICIO,@CANT_SERVICIO,@PRECIO_SERVICIO,@ESTADO_SERVICIO,@FEC_REGISTRO, @INICIO, @FIN, @MIN)   
   
 SELECT @ID_SERVICIO AS 'CODIGOGENERADO'   
END  
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_SERVICIO]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--**************************************************************************************************************************************************
--**************************************************************SERVICIO****************************************************************************
--**************************************************************************************************************************************************

CREATE PROC [dbo].[SP_LISTAR_SERVICIO]
AS
Select * From TB_SERVICIO
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_TARJETA]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_LISTAR_TARJETA]
@USUARIO int
as
select * from TB_TARJETAS where id_usuario = @usuario
GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN_USUARIO]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
--**************************************************************************************************************************************************  
--***************************************************************USUARIO****************************************************************************  
--**************************************************************************************************************************************************  
  
CREATE PROC [dbo].[SP_LOGIN_USUARIO]  
@LOGIN_USUARIO VARCHAR(50),  
@PASS_USUARIO VARCHAR(10)  
AS  
SELECT 
cast(ID_USUARIO as varchar) as usuario,  
cast(id_rol as varchar) as rol,
NOM_USUARIO,
APE_USUARIO,
LOGIN_USUARIO,
PASS_USUARIO,
cast(EDAD_USUARIO as varchar) as   edad,
DIR_USUARIO,
DOC_USUARIO,
EMP_USUARIO,
FEC_NAC_USUARIO,
FEC_REGISTRO,
'' relleno,
cast(ESTADO_USU as varchar) as est
FROM TB_USUARIO  
WHERE LOGIN_USUARIO=@LOGIN_USUARIO And   
PASS_USUARIO=@PASS_USUARIO  


GO
/****** Object:  StoredProcedure [dbo].[SP_MIS_RESERVAS]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_MIS_RESERVAS]
@USUARIO int
as 
	select 
	a.id_proveedor as c1, 
	a.id_Servicio as c2,
	a.id_usuario as c3,
	a.id_orden as c4,
	a.fecha as c5,
	a.desde as c6,
	a.hasta as c7,
	a.estado as c8,
	b.id_servicio as c9,
	b.id_usuario as c10,
	b.desc_servicio as c11,
	b.cant_Servicio as c12,
	b.precio_servicio as c13,
	b.estado_Servicio as c14,
	b.fec_registro as c15,
	b.inicio_disponible as c16,
	b.fin_disponible as c17,
	b.min_intervalo as c18 from 
	tb_reserva a join
	tb_servicio b on a.id_proveedor = b.id_usuario and a.id_Servicio = b.id_Servicio
	where a.id_usuario = @USUARIO
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENER_PROVEEDORES]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OBTENER_PROVEEDORES]
AS  
SELECT   
CAST(ID_USUARIO AS VARCHAR) AS ID_USUARIO,   
CAST(ID_ROL AS VARCHAR) AS ID_ROL,  
NOM_USUARIO,   
APE_USUARIO,   
LOGIN_USUARIO,   
'[CONFIDENCIAL]' AS PASS_USUARIO,   
CAST(EDAD_USUARIO AS VARCHAR) AS ESTADO_USU,   
DIR_USUARIO,   
DOC_USUARIO,   
EMP_USUARIO,   
FEC_NAC_USUARIO,   
FEC_REGISTRO,   
CAST(ESTADO_USU AS VARCHAR) AS ESTADO_USU ,
LATITUD,
LONGITUD
FROM TB_USUARIO WHERE ID_ROL = 2
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENER_USUARIO]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OBTENER_USUARIO] @USUARIO INT
AS
SELECT 
CAST(ID_USUARIO AS VARCHAR) AS ID_USUARIO, 
CAST(ID_ROL AS VARCHAR) AS ID_ROL,
NOM_USUARIO, 
APE_USUARIO, 
LOGIN_USUARIO, 
'[CONFIDENCIAL]' AS PASS_USUARIO, 
CAST(EDAD_USUARIO AS VARCHAR) AS ESTADO_USU, 
DIR_USUARIO, 
DOC_USUARIO, 
EMP_USUARIO, 
FEC_NAC_USUARIO, 
FEC_REGISTRO, 
CAST(ESTADO_USU AS VARCHAR) AS ESTADO_USU
FROM TB_USUARIO WHERE ID_USUARIO = @USUARIO
GO
/****** Object:  StoredProcedure [dbo].[SP_RECUPERAR_CONTRASEÑA_USUARIO]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RECUPERAR_CONTRASEÑA_USUARIO](@CORREO VARCHAR(100))  
AS  
BEGIN  
 DECLARE @NUEVA_CLAVE VARCHAR(9) = (select substring(CONVERT(varchar(255),  NEWID ( )), 0, 9))  
  
 DECLARE @NOMBRE VARCHAR(200) = (SELECT APE_USUARIO + ', ' + NOM_USUARIO FROM TB_USUARIO WHERE LOGIN_USUARIO = @CORREO)   
  
 IF @NOMBRE IS NULL  
  SELECT @NOMBRE AS NOMBRE, NULL AS CLAVE  
 ELSE  
  BEGIN  
   UPDATE TB_USUARIO SET PASS_USUARIO = @NUEVA_CLAVE, ESTADO_USU = 3 WHERE LOGIN_USUARIO = @CORREO 
   SELECT @NOMBRE AS NOMBRE, @NUEVA_CLAVE AS CLAVE  
  END  
END  

select * from TB_USUARIO
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_TARJETA]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REGISTRAR_TARJETA]
@USUARIO INT,
@AFILIADO VARCHAR(100),
@TITULAR VARCHAR(100),
@NUMERO VARCHAR(100),
@VENCIMIENTO VARCHAR(100),
@CSV VARCHAR(100)
AS
BEGIN
	DECLARE @ID INT = (SELECT ISNULL(MAX(ID_SECUENCIA),0)+1 FROM TB_TARJETAS WHERE ID_USUARIO = @USUARIO)
	INSERT INTO TB_TARJETAS
	VALUES (@USUARIO, @ID, @AFILIADO, @TITULAR, @NUMERO, @VENCIMIENTO, @CSV)
	SELECT @ID AS ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_USUARIO]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REGISTRAR_USUARIO]  
@ROL VARCHAR(100),  
@NOM VARCHAR(100),  
@APE VARCHAR(100),  
@LOGIN VARCHAR(100),  
@PASS VARCHAR(100),  
@EDAD VARCHAR(100),  
@DIR VARCHAR(100),  
@DOC VARCHAR(100),  
@EMP VARCHAR(100),  
@NAC VARCHAR(100),  
@REG VARCHAR(100),  
@EST VARCHAR(100) ,
@LAT VARCHAR(100),  
@LON VARCHAR(100) 
AS  
BEGIN  
 DECLARE @ID INT = (SELECT ISNULL(MAX(ID_USUARIO), 0) + 1 FROM TB_USUARIO)   
 INSERT INTO tb_usuario  
 VALUES (@ID, cast(@ROL as int), @NOM, @APE, @LOGIN, @PASS, cast(@EDAD as int), @DIR, @DOC, @EMP, @NAC, @REG,CAST (@EST as int), @LAT, @LON)  
 SELECT cast(@ID as varchar(10))  
END  
GO
/****** Object:  StoredProcedure [dbo].[SP_RESERVA_X_CONFIRMAR]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RESERVA_X_CONFIRMAR] (@PROVEEDOR INT , @SERVICIO VARCHAR(10))  
AS  
BEGIN  
 SELECT * FROM TB_RESERVA WHERE ID_PROVEEDOR = @PROVEEDOR AND ESTADO = 2  
 ORDER BY FECHA, ID_SERVICIO, ID_ORDEN   
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RESERVAR_SERVICIO]    Script Date: 9/23/2019 8:49:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--RESERVAR SERVICIO    
CREATE PROCEDURE [dbo].[SP_RESERVAR_SERVICIO] (@PROVEEDOR INT, @SERVICIO VARCHAR(6), @DIA VARCHAR(10), @USUARIO INT, @ID_ORDEN INT)    
AS    
BEGIN    
--DECLARE @PROVEEDOR INT = 2    
--DECLARE @SERVICIO VARCHAR(6) = 'BB-001'    
--DECLARE @DIA VARCHAR(10) = '13/09/2019'    
--DECLARE @USUARIO INT = 1    
--DECLARE @ID_ORDEN INT = 2 --REPRESENTA EL ID DEL RANGO GENERADO POR EL LISTADO DE HORARIO    
DECLARE @CORREO_PROVEEDOR VARCHAR(100) = (SELECT TOP 1 LOGIN_USUARIO FROM TB_USUARIO WHERE ID_USUARIO = @PROVEEDOR)    
DECLARE @SERVICIO_DES VARCHAR(200) = (SELECT TOP 1 DESC_SERVICIO FROM TB_SERVICIO WHERE ID_USUARIO = @PROVEEDOR AND ID_SERVICIO = @SERVICIO)    
DECLARE @TABLA_HORARIOS AS TABLE    
(    
 ID INT,    
 INICIO DATETIME,    
 FIN DATETIME,    
 ESTADO INT    
)    
    
--VALIDAR DISPONIBILIDAD ANTES DE INGRESAR (0 ES OCUPADO, 1 ES DISPONIBLE, 2 ES POR CONFIRMAR)    
    
IF NOT EXISTS(SELECT * FROM TB_RESERVA WHERE ID_PROVEEDOR = @PROVEEDOR AND ID_SERVICIO = @SERVICIO AND FECHA = @DIA AND ESTADO = 1 AND ID_ORDEN = @ID_ORDEN)    
BEGIN    
     
 DECLARE @TABLA_DATOS AS TABLE    
 (    
  HORA_ID INT,    
  HORA_INICIO DATETIME,    
  HORA_FIN DATETIME,    
  HORA_ESTADO INT    
 )    
     
 INSERT @TABLA_DATOS    
 EXEC SP_GENERAR_HORARIO @PROVEEDOR, @SERVICIO, @ID_ORDEN    
    
 INSERT INTO TB_RESERVA     
 VALUES    
 (    
  @PROVEEDOR,    
  @SERVICIO,    
  @USUARIO,    
  @ID_ORDEN,    
  @DIA,    
  (SELECT  CAST(convert(varchar, HORA_INICIO, 24) AS VARCHAR(5)) FROM @TABLA_DATOS),    
  (SELECT  CAST(convert(varchar, HORA_FIN, 24) AS VARCHAR(5)) FROM @TABLA_DATOS),    
  2    
 )    
 SELECT  'EXITO;Reserva exitosa;'+@CORREO_PROVEEDOR+';'+@SERVICIO_DES MENSAJE    
END    
ELSE    
BEGIN    
 SELECT  'ERROR;Ya ocupado;'+@CORREO_PROVEEDOR+';'+@SERVICIO_DES MENSAJE    
END    
END 
GO
