<div class="container-login100">
    <div class="wrap-login100">
        <form style="text-align: center;">
              <div style="margin:20px;"><img src="assets/images/icon_original.png"></div>
              <div style="background-color: white;margin:5px;width: 100%;margin-top:70%">
                  <div class="col-md-12" style="margin:10px;">
                    <input type="text" class="form-control" placeholder="USUARIO"/>
                  </div>
                  <div class="col-md-12" style="margin:10px;">
                    <input type="text" class="form-control" placeholder="CONTRASEÑA"/>
                  </div>
                  <div class="col-md-12" style="margin:10px;">
                    <button class="form-control" class="btn btn-primary">INGRESAR</button>
                  </div>
              </div>
        </form>
    </div>
</div>