<ion-tabs>
    <ion-tab-bar slot="bottom" >
      <ion-tab-button tab="user-index" class="tab-color">
        <ion-icon name="home"></ion-icon>
        <ion-label>INICIO</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="search-maps" class="tab-color">
        <ion-icon name="search"></ion-icon>
        <ion-label>BÚSQUEDA</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="user-reservation" class="tab-color">
        <ion-icon name="pricetags" ></ion-icon>
        <ion-label>MIS RESERVAS</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
